// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#letra {
  border: #3498dc 1px solid;
  background-color: #3498dc;
  color: white;
  margin: 0 2rem;
  width: 20px;
  height: 20px;
  padding: 20px;
  font-size: 20px;
}
#barrita {
  width: 80%;
  height: 1.2rem;
}
